main {
    padding-top: 6rem;
    
    
    .guide {
        margin-bottom: 3rem;
        display: grid;
        gap: 5rem;
        justify-items: center;
        align-items: start;
        text-align: center;
    
    
        .container {
            display: grid;
            gap: 2rem;
            justify-items: center;
    
            .head {
                h1 {
                    margin-bottom: 1rem;
                }
                img {
                    width: 20rem;
                }
            }
            .body {
                display: grid;
                gap: 1rem;
                width: 20rem;
            }
    
    
            @media(min-width: 800px){
                    .head {
                        font-size: 30px;
                        img {
                            width: 40rem;
                        }
                    }
                    .body {
                        display: grid;
                        gap: 1rem;
                        width: 40rem;
                        font-size: 20px;
                    }
            }
            @media(min-width: 1200px){
                .head {
                    font-size: 35px;
                    img {
                        width: 50rem;
                    }
                }
                .body {
                    display: grid;
                    gap: 1rem;
                    width: 50rem;
                    font-size: 25px;
                }
            }
        
            @media(min-width: 1600px){
                .head {
                    font-size: 40px;
                    img {
                        width: 60rem;
                    }
                }
                .body {
                    display: grid;
                    gap: 1rem;
                    width: 60rem;
                    font-size: 30px;
                }
            }
        
            @media(min-width: 2000px){
                .head {
                    font-size: 50px;
                    img {
                        width: 70rem;
                    }
                }
                .body {
                    display: grid;
                    gap: 1rem;
                    width: 70rem;
                    font-size: 40px;
                }
            }
        }
    }   
}