body {
    main {
        background: #d4d4d4;
        padding: 2rem 0;
        .cards {
            display: grid;
            grid-auto-flow: row;
            justify-items: center;
            gap: 2rem;
            margin-top: 5rem;
            
            @media(min-width: 1050px){
                grid-auto-flow: column;
                align-content: center;
            }

            &:hover {
                .option {
                    filter: blur(3px);
                }
            }

            .card {
                transition: .5s;
                &:hover {
                    transform: scale(1.03);
                    filter: blur(0px);
                }

                
                img {
                    height: 40vh;
                }
                
            }
        }
    
        @media(min-width: 1050px){
            height: 100vh;
        }

    }

    
}