
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
  nav{
    display: grid;
    grid-auto-flow: column;
    height: 5rem;
    width: 100%;
    background: #B0E0E6;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 1rem;

    .name{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 35px;
        font-weight: 600;
        font-family: 'Aref Ruqaa Ink';
    }

    .profile {
        a {
            text-decoration: none;
            font-family: 'Montserrat';
        }
        .login {
            padding: 0.2rem;
            background: #87CEFA;
            color: black;
            border-radius: 15px 10px;
            transition: .2s;

            &:hover {
                border-radius: 10px 15px;
                background: #87CEEB;
            }
        }
        .register {
            padding: 0.5rem;
            background: #6495ED;
            color: black;
            border-radius: 10px 15px;
            transition: .2s;

            &:hover {
                border-radius: 15px 10px;
                background: #4682B4;
            }
        }
    }

    .links {
        display: grid;
        grid-auto-flow: column;
        position: fixed;
        list-style: none;
        top: 80px;
        left: -100%;
        background: #74a7ad;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 1;

        .link {
            width: 100%;
            margin: 2.5rem 0;

            a{
                color: black;
                text-decoration: none;
                font-family: 'Montserrat';
                font-size: 18px;
                font-weight: 500;
                padding: 8px 15px;
                border-radius: 5px;
                letter-spacing: 1px;
                width: 100%;
                margin-left: -100%;
                display: block;
                font-size: 20px;
                transition: 0.6s ;

                &:hover {
                    background: none;
                    color: cyan;
                    text-decoration: underline;
                }
            }
        }
    }

    .menu-btn {
        i {
            color: #fff;
            font-size: 22px;
            cursor: pointer;
            display: block;
        }
    }

    #click {
        display: none;
    }
    
    #click:checked ~ .menu-btn{
        i:before {
            content: "\f00d";
        }
    }

    #click:checked ~ .links {
        left: 0;
    }

    #click:checked ~ .links {
        li {
            a {
                margin-left: 0px;
            }
        }
    }

    @media(min-width: 900px){
        .links {
            height: 45vh;
            width: 20%;
            
            .link {
                margin: 2.5rem 0;
                
            }
            
        }
        #click:checked ~ .links {
            left: 80%;
        }
    }

    @media(min-width: 900px){
        .links {
            height: 32rem;
            width: 20%;
            
            .link {
                margin: 2.5rem 0;
                
            }
            
        }
        #click:checked ~  {
            left: 80%;
        }
    }
}