
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    position: relative;
  nav{
    position: fixed;
    display: grid;
    grid-auto-flow: column;
    height: 5rem;
    width: 100%;
    background: #FFFF;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 1rem;
    z-index: 2;

    .profile {
        position: relative;
        a {
            text-decoration: none;
            font-family: 'Montserrat';
            
        }
        .login {
            font-size: 1.3rem;
            padding: 0.2rem;
            color: #454544;
            text-decoration: underline;
            transition: .2s;
            
        }
        i {
            padding: 0.5rem;
            color: #000;
            border: 1px solid #000;
            margin: 0 0.2rem;
            border-radius: 50%;
            text-decoration: none;
            font-size: 1.5rem;
            transition: all 0.5s ease;

            &:hover{
                background: #000;
                border-color: transparent;
                color: rgb(213, 147, 15);
            }
        }

        .cartAmount {
            position: absolute;
            top: -15px;
            right: -10px;
            font-size: 16px;
            background-color: rgb(235, 150, 14);
            color: white;
            padding: 3px;
            border-radius: 3px;
          }
    }

    .logo {
        img {
            margin: 0;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 5rem;
            height: 5rem;
            
        }
    }

    .hamburger {
        display: none;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }

    
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 62.5%;
        font-family: 'Roboto', sans-serif;
    }

    .nav-item {
        margin-left: 2rem;
    }

    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }

    .nav-link{
        font-size: 1.5rem;
        font-weight: 400;
        color: #475569;
        transition: .5s;
    }

    .nav-link:hover{
        color: #AD802E;
    }

    @media(max-width: 1050px) {
        .nav-menu {
            position: fixed;
            left: -100%;
            top: 5rem;
            flex-direction: column;
            background-color: rgb(238, 238, 238);
            width: 100%;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
        }
    
        .nav-menu.active {
            left: 0;
        }
    
        .nav-item {
            margin: 2.5rem 0;
        }
    
        .hamburger {
            display: block;
            cursor: pointer;
        }
    
        .hamburger.active {
            .bar:nth-child(2) {
                opacity: 0;
            }
        }
    
        .hamburger.active {
            .bar:nth-child(1) {
                -webkit-transform: translateY(8px) rotate(45deg);
                transform: translateY(8px) rotate(45deg);
            }
            
        }
    
        .hamburger.active {
            .bar:nth-child(3) {
                -webkit-transform: translateY(-8px) rotate(-45deg);
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }

}
}