main {
    
    .account {
        h1{
            padding-top: 7rem;
            text-align: center;
        }
    }
    .accInfo {
        margin-top: 5rem;
        display: flex;
        gap: 5rem;
        justify-content: center;

        .menu {
            display: grid;
            gap: 1rem;
            text-align: center;
            font-size: 25px;
        }

        .data {
            display: grid;
            gap: 1rem;
            text-align: center;
            font-size: 25px;
        }
    }
}