section {
  display: grid;
  justify-items: center;
  padding-top: 2rem;
}
section .container {
  width: 22rem;
  margin-top: 2rem;
  padding: 1rem;
  border-left: solid 1px #CDBE01;
  border-right: solid 2px #AD802E;
  border-bottom: solid 1.5px #884B01;
  margin-bottom: 70px;
  margin-top: 5rem;
}
@media (min-width: 450px) {
  section .container {
    width: 400px;
  }
}
@media (min-width: 550px) {
  section .container {
    width: 500px;
  }
}
@media (min-width: 1024px) {
  section .container {
    width: 650px;
  }
}
section .container .head {
  display: grid;
  justify-items: center;
}
section .container .head p {
  font-family: "Montserrat";
  color: #AD802E;
  font-size: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-left: solid 1px #AD802E;
  border-right: solid 2px #CDBE01;
}
section .container .head .underline {
  margin-top: 1rem;
  height: 3px;
  width: 10rem;
  background: #884B01;
  margin-bottom: 5rem;
}
section .container .form {
  border-left: solid 1px #AD802E;
  border-right: solid 2px #CDBE01;
  border-top: solid 1.5px #884B01;
  padding: 1rem;
}
section .container .forms {
  margin-top: 15px;
  font-size: 20px;
}
section .container .forms label {
  font-family: "Montserrat";
  color: #1D1D1D;
}
section .container .forms input {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(230, 210, 173, 0.7);
  margin-top: 5px;
  font-family: "Montserrat";
  background-color: #e4e4e4;
}
section .container .forms.success input {
  border-color: #09c372;
}
section .container .forms.error {
  color: #ff3860;
  font-size: 20px;
}
section .container .forms.error input {
  border-color: #ff3860;
}
section .container .bt {
  display: grid;
  justify-items: center;
  padding-top: 3rem;
}
section .container .bt button {
  border: solid 1px #454544;
  border-radius: 0.4rem;
  margin-top: 0.6rem;
  padding: 0.6rem;
  font-size: 2rem;
  font-family: "Montserrat";
  color: #454544;
  cursor: pointer;
  transition: 0.2s;
}
section .container .bt :hover {
  border: solid 1px #884B01;
  color: #884B01;
}
section .container .news {
  padding-top: 1rem;
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
}
section .container .news .check {
  display: flex;
  gap: 0.5rem;
  margin-left: 1rem;
}
section .container .news .text {
  display: block;
  padding-left: 2rem;
  opacity: 0.5;
}
section .container .login .log {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  background: none;
  padding-top: 1rem;
  opacity: 0.5;
  z-index: 10;
}
section .news {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
}
section .news .check {
  display: flex;
  gap: 0.5rem;
  margin-left: 1rem;
}
section .news .text {
  display: block;
  max-width: 40rem;
  opacity: 0.5;
}

.textPage .pros {
  display: grid;
  gap: 2rem;
}
.textPage .pros .text {
  padding: 1rem;
  display: block;
  text-align: center;
}
.textPage .news {
  text-align: center;
  display: block;
  width: 20rem;
  padding-bottom: 5rem;
}/*# sourceMappingURL=register.css.map */