h1 {
    padding-top: 7rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #454544;
}

.border{
    width: 150px;
    height: 5px;
    background: #e6ba1b;
    margin: 26px auto;
  }

.contactText {
    padding-left: 7rem;
    padding-bottom: 2rem;
}

.company {
    padding-left: 6rem;
    margin-bottom: 1rem;
    color: #AD802E;
}

.data {
    display: flex;
    padding-left: 7rem;

    @media(max-width: 800px){
        flex-wrap: wrap; 
    }

    @media(max-width: 650px){ 
        flex-direction: column;
        text-align: center;
    }

    .singleData {
        flex-basis: 50%;
        padding-bottom: 20px;

        a {
            color: #1D1D1D;
            text-decoration: none;
        }
    }
}

.refund {
    h2 {
        text-align: center;
        margin-bottom: 1rem;
        color: #AD802E;
    }

    form {
        display: grid;
        justify-items: center;
        .inputs {
            .top {
                
            }
            .bot {
                padding-top: 1rem;
            }
        }
        button {
            margin-bottom: 2rem;
        }
    }
}

.partners {
    margin-bottom: 3rem;
    .partner {
        font-size: 30px;
        font-weight: 500;
        padding-top: 3rem;
        padding-left: 5rem;
        margin-bottom: 2rem;
        color: #454544;
    }
    .about {
        display: grid;
        p {
            padding-left: 7rem;
        }
        a {
            padding-left: 8rem;
            padding-top: 1rem;
            text-decoration: none;
            color: #AD802E;
            font-weight: 500;
        }
    }
}