main {
    padding: 3rem;
    .models {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 5rem;

        @media(min-width: 800px){
            grid-template-columns: repeat(3, 1fr);
        }
        
        .model {
            a {
                display: grid;
                grid-auto-flow: row;
                justify-items: center;
                gap: 1rem;

                font-family: 'Montserrat';
                text-decoration: none;
                color: black;

                img {
                    width: 10rem;

                    @media(min-width: 1000px){
                        width: 15rem;
                   }
                }
            }
        }
    }
}