h3 {
	padding-top: 7rem;
	text-align: center;
}

.table {
	margin-top: 3rem;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.table tr td{
	text-align: center;
}
